{% extends 'ofimina/base.html' %}

{% block title %}Inicio Facturación{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2>Bienvenido a Facturación</h2>
        <p>Desde aquí puedes gestionar clientes y facturas.</p>
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'lista_clientes' %}">Ver Clientes</a></li>
            <li class="list-group-item"><a href="{% url 'agregar_cliente' %}">Agregar Cliente</a></li>
            <li class="list-group-item"><a href="{% url 'lista_facturas' %}">Ver Facturas</a></li>
            <li class="list-group-item"><a href="{% url 'agregar_factura' %}">Agregar Factura</a></li>
        </ul>
    </div>
</div>
{% endblock %}
